* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  // background-color: blue;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 15%;
  background-color: white;
  box-shadow: gray 1px 1px 15px 1px;
  z-index: 999;
  top: 0;
  position: sticky;
  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
  }
  .logo-img {
    width: 100%;
    // height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
  }
  h2 {
    line-height: 1;
  }
  img {
    width: 100px;
    height: 100px;
    border-radius: 90%;
  }
  .menu {
    font-size: 20px;
    gap: 50px;
    background-color: white;
    display: flex;
    justify-content: center;
    // align-items: center;
    overflow: hidden;
  }
  .dropdown {
    float: left;
    overflow: hidden;
    // display: flex;
  }
  button {
    border: none;
  }
  .dropdown .dropbtn {
    font-size: 20px;
    border: none;
    outline: none;
    color: gray;
    // padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
    cursor: pointer;
  }

  //   .navbar a:hover, .dropdown:hover .dropbtn {
  //     background-color: blue;
  //   }

  .dropdown-content {
    display: none;
    position: absolute;
    // background-color: red;
    border-radius: 20px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin-top: 0.2rem;
    border-radius: 20px;
    font-size: 14px;
  }

  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }

  .dropdown-content a:hover {
    background-color: whitesmoke;
    // transform: scale(1.1) translateX(-1px);
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }
  .menu a {
    background-color: white;
    color: gray;
  }
  .menu a:hover {
    color: deepskyblue;
  }
  .menu a::after {
    content: "";
    display: block;
    border-bottom: 2px solid deepskyblue;
    transform: scaleX(0);
    transition: 0.2s;
    padding-bottom: 0.5rem;
  }
  .menu a:hover::after {
    transform: scaleX(0.9);
  }
  .dropbtn:hover {
    color: deepskyblue;
    
  }
  .dropbtn::after {
    content: "";
    display: block;
    border-bottom: 2px solid deepskyblue;
    transform: scaleX(0);
    transition: 0.2s;
    padding-bottom: 0.5rem;
  }
  .dropbtn:hover::after {
    transform: scaleX(0.9);
  }
  .box-icon a {
    font-size: 20px;
    color: black;
    background-color: white;
  }
}

.hiro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // padding-top: 10rem;
  height: 50vw;
  background-color: #e8e8e8;
  .title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    padding: 10px 10%;
    width: 85%;
  }
  .conten {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    padding-right: 80px;
    font-size: 20px;
  }
  h6 {
    font-size: 15px;
    font-weight: 200;
  }
  .title p {
    max-width: 1000px;
    line-height: 1.5;
    padding-top: 1rem;
    font-weight: 200;
  }
  .hiro-img {
    // width: 100%;
    display: inline-block;
    justify-content: center;
    align-items: center;
  }
  img {
    width: 50vh;
    height: 50vh;
    border-radius: 20px;
  }
}
.about {
  padding: 2rem 15%;
  // width: 90%;
  background-color: white;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  h2 {
    padding-bottom: 2rem;
    text-align: center;
    font-size: 30px;
  }
}

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e8e8e8;
  width: 100%;
  height: 100vh;
  .product {
    display: flex;
    flex-direction: column;
    // padding: 2rem 15%;
    justify-content: center;
    align-items: center;
  }
  .conten {
    text-align: center;
    width: 90%;
    line-height: 3;
  }
  h2 {
    font-size: 30px;
  }
  .paket-travel {
    gap: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .product-img {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 2rem 15%;
    gap: 20px;
    // transform: scaleY(0);
  }
  .img:hover {
    // box-shadow: 0px 5px 10px black;
    transition: 0.4s;
    transform: translateY(-9px);
  }
  h3 {
    font-size: 16px;
  }
  .img {
    width: 100%;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.185);
    position: relative;
    border-radius: 5px;
  }
  .diskon {
    position: absolute;
    top: 0px;
    right: 0px;
    background-color: crimson;
    color: white;
    border-radius: 5px;
    padding: 5px;
  }
  .btns {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 10px;
    cursor: pointer;
    .order {
      background-color: orangered;
      color: white;
      padding: 5px;
      border-radius: 5px;
      transition: 0.2s;
      // cursor: pointer;
    }
  }
  a {
    color: black;
  }
  img {
    width: 279px;
    height: 200px;
    // border-radius: 10px;
  }
  .btn {
    border: 1px solid rgba(0, 0, 0, 0.274);
    padding: 5px;
    font-weight: 200;
    text-transform: capitalize;
    cursor: pointer;
    transition: 0.2s;
    border-radius: 10px;
  }
  h4 {
    font-weight: 200;
  }
  .btn:hover {
    transform: scale(1.05);
    // box-shadow: 0 0 10px rgba(0, 0, 255, 0.377);
    border-color: rgba(0, 0, 255, 0.473);
    color: rgba(0, 0, 255, 0.829);
  }
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.form h2 {
  margin-bottom: 30px;
  font-size: 30px;
}
.section-conten {
  display: flex;
  // flex-direction: column;
  // padding: 2rem 15%;
  gap: 39px;
  justify-content: center;
  align-items: center;
  width: 60%;
  // border: 1px solid black;
  box-shadow: 5px 5px 10px 0;
  border-radius: 10px;
  height: 40%;
}
.section {
  text-align: center;
  width: 50%;
  height: 50%;
  // display: flex;
  align-items: center;
  justify-content: center;
}
.input {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 19px;
  padding: 15px;
}
input {
  border: none;
  outline: none;
  border-bottom: 1px solid black;
  width: 100%;
  line-height: 2;
}
.send {
  background-color: #d20062;
  border-radius: 5px;
  margin-top: 1rem;
  width: 20%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  transition: 0.3s;
}
.send a {
  color: white;
}
.send:hover {
  color: crimson;
  // box-shadow: 0 0 10px;
  transform: scale(1.1) translateY(-1px);
  // background-color: white;
}
.Contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #d20062;
  border-radius: 10px;
  // background-color: crimson;
  height: 100%;
  width: 50%;
}
.box-icon {
  padding: 20px;
  line-height: 3;
  // width: 70%;
}
.social {
  font-size: 20px;
  color: white;
  width: 80%;
  margin: auto;
  .map {
    display: flex;
    align-items: center;
    // justify-content: center;
    gap: 20px;
    line-height: 1.5;
  }
  .email {
    display: flex;
    align-items: center;
    // justify-content: center;
    gap: 20px;
  }
  .no-hp {
    display: flex;
    align-items: center;
    // justify-content: center;
    gap: 20px;
  }
}
.social-icon a {
  font-size: 30px;
  color: white;
  // border-radius: 20px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  margin: 0.2em 0.3rem;
  border-radius: 50%;
  background: transparent;
  color: white;
  border: 2px solid white;
  padding: 5px;
  transition: 0.2s ease;
}
.social-icon a:hover {
  color: crimson;
  box-shadow: 0 0 10px;
  transform: scale(1.1) translateY(-3px);
  background-color: white;
}

.footer {
  color: white;
  width: 100%;
  background-color: #180161;

  .footer-content {
    width: 70%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    // align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 100px 0;
  }
  h1 {
    height: 90px;
  }
  .information p {
    font-size: 15px;
    font-weight: 200;
  }
  .social-icon a {
    font-size: 30px;
    color: white;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    margin: 0.2em 0.3rem;
    border-radius: 50%;
    background: transparent;
    color: white;
    border: 2px solid white;
    padding: 5px;
    margin-top: 42px;
    transition: 0.2s ease;
  }
  .social-icon a:hover {
    color: #180161;
    box-shadow: 0 0 10px;
    transform: scale(1.1) translateY(-3px);
    background-color: white;
  }
  .img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-right: 20px;
    font-size: 15px;
    gap: 19px;
    margin-top: 10px;
  }
  .img p {
    font-weight: 200;
  }
  img {
    width: 200px;
    height: 100px;
  }
  .link a {
    font-size: 15px;
    font-weight: 200;
    line-height: 2;
    color: white;
  }
  .alamat {
    font-size: 15px;
    font-weight: 200;
  }
  .kantor {
    display: flex;
    flex-direction: column;
    margin-top: 23px;
  }
}
