* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  // background-color: blue;
  text-decoration: none;
}
body {
  background-color: whitesmoke;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 10%;
  background-color: white;
    box-shadow:gray 1px 1px 15px 1px;
  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
  }
  .logo-img {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
  }
  h1 {
    background-color: white;
  }
  img {
    width: 100px;
    height: 100px;
    border-radius: 90%;
  }
  .menu {
    font-size: 20px;
    display: flex;
    gap: 50px;
    background-color: white;
  }
  .menu a {
    background-color: white;
    color: gray;
  }
  .menu a:hover{
    color: deepskyblue;
  }
  .menu a::after{
    content: "";
    display: block;
    border-bottom: 2px solid deepskyblue;
    transform: scaleX(0);
    transition: 0.2s;
    padding-bottom: 0.5rem;
  }
  .menu a:hover::after{
    transform: scaleX(0.9);
  }
  .box-icon a {
    font-size: 20px;
    color: black;
    background-color: white;
  }
}
